/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/* 헤더 */
.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80px;
    padding: 0 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: blur(8px);
  	backdrop-filter: blur(8px);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.title {
    margin: 0;
}
.partition_title {
    width: 4px;
    height: 25px;
    border-radius: 2px;
    margin: 0 20px;
    border: 2px solid rgb(255, 166, 0);
}
.category_item {
    float: left;
    font-weight: 500;
    margin-right: 20px;
}
/* 바디 */
/* 프로필 */
.section_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    box-shadow: 0px 200px 150px -300px rgba(0, 0, 0, 0.45) ;
}
.card_profile_contents {
    background-color: rgb(255, 232, 201);
    height: 800px;
    width: 40%;
    position: relative;
}
.profile_card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: -100px;
    top: 100px;
}
.profile_card {
    background-color: antiquewhite;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 400px;
}
.profile_image {
    margin: 60px 0 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.card_name {
    font-size: 30px;
}
.partition {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    border: 2px solid rgb(255, 166, 0);
}
.card_job {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 30px;
    text-transform: uppercase;
}
.card_footer {
    width: 100%;
    height: 50px;
    background-color: white;
}
.text_profile_contents {
    padding: 120px;
}
.profile_title {
    font-size: 50px;
}
.info_title {
    margin: 30px 0 10px;
}
.history {
    line-height: 40px;
}
/* 지뢰찾기 */
.minesweeper_description {
    width: 70%;
    padding-left: 650px;
    padding-top: 300px;
}
.minesweeper_contents {
    background-color: rgb(255, 232, 201);
    height: 1200px;
    width: 30%;
    position: relative;
}
.mine_title {
    font-size: 50px;
    margin-bottom: 50px;
}
.mine_info {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 50px;
}
.mine_sub_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.mine_container {
    width: calc(50px * 10 + 20px);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 250px;
    left: -220px;
}
.mine_container_border {
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    box-shadow: inset -5px -5px 0 0 rgba(255, 255, 255, 0.2), 
                inset 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}
.mine_header {
    padding: 0 20px;
    height: 100px;
    background-color: #d9d9d9;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mine_number_count {
    padding: 5px;
    width: 80px;
    height: 50px;
    background-color: black;
    color: red;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-align: right;
}
.mine_reset_btn {
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    line-height: 20px;
    text-align: center;
    width: 60px;
    height: 40px;
    background-color: #d9d9d9;
    cursor: pointer;
}
.mine_reset_btn:hover {
    background-color: #bfbfbf;
}
.mine_main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: calc(50px * 10 + 20px);
    height: calc(50px * 10 + 20px);
    background-color: #d9d9d9;
}
.mine_item {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    background-color: #d9d9d9;
}
.mine_item:hover {
    background-color: #bfbfbf;
}
/* 푸터 */
.footer {
    padding: 0 20px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    line-height: 100px;
    font-weight: bold;
    letter-spacing: 10px;
}
.call_number {
    line-height: 100px;
    font-weight: bold;
    letter-spacing: 10px;
}
.call_number > span {
    letter-spacing: 2px;
}