/* 리셋 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* 레이아웃 */
.container_grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 210px auto 200px;
    grid-template-areas: 
            'header header'
            'aside main'
            'footer footer';
    margin: 0 auto;
    width: 1200px;
}

/* 헤더 */
.header_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    grid-area: header;
}
.main_header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.mine_logo {
    width: 120px;
    height: 120px;
}
.main_title {
    font-size: 50px;
}
.home_link {
    font-size: 30px;
}
.nav_float {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.nav_container {
    padding: 10px 10px;
}
.nav_container > li{
    float: right;
    line-height: 40px;
    margin-left: 40px;
    list-style: none;
}
.nav_container::after {
    clear: both;
}
.rank_container {
    grid-area: aside;
    padding: 30px 0 0 10px;
    border-right: 1px solid black;
}
.rank_list {
    margin-top: 40px;
}
.rank_list > li {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
main {
    grid-area: main;
    padding: 30px 0;
}
footer {
    grid-area: footer;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}
/* 지뢰 */
.mine_container {
    width: calc(50px * 10 + 20px);
    margin: 0 auto;
}
.mine_container_border {
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    box-shadow: inset -5px -5px 0 0 rgba(255, 255, 255, 0.2), 
                inset 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}
.mine_header {
    padding: 0 20px;
    height: 100px;
    background-color: #d9d9d9;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mine_number_count {
    padding: 5px;
    width: 80px;
    height: 50px;
    background-color: black;
    color: red;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-align: right;
}
.mine_reset_btn {
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    line-height: 20px;
    text-align: center;
    width: 60px;
    height: 40px;
    background-color: #d9d9d9;
    cursor: pointer;
}
.mine_reset_btn:hover {
    background-color: #bfbfbf;
}
.mine_main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: calc(50px * 10 + 20px);
    height: calc(50px * 10 + 20px);
    background-color: #d9d9d9;
}
.mine_item {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
    background-color: #d9d9d9;
}
.mine_item:hover {
    background-color: #bfbfbf;
}